/* RESETEO UNIVERSAL */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* H1 */
/* H2 */
/* P */
/* LINKS NAV */
/* TITLE CARD */
/* BUTTON */
/* FOOTER-TOP */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  top: 0%;
  left: 0%;
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .navbar-nav .nav-item {
  padding: 5px;
  font-family: "Rubik", sans-serif;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #353434;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
.navbar .navbar-nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #353434;
  border-bottom: 2px solid #353434;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353434;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.navbar .navbar-nav .nav-item .nav-link:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

main {
  background-color: whitesmoke;
}
main h1 {
  font-size: 40px;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
}
main p, main li, main a {
  font-size: 18px;
  font-family: "Kanit", sans-serif;
}
main h2, main h4 {
  font-size: 30px;
  font-family: "Merriweather", serif;
}
main h3 {
  font-size: 22px;
  font-family: "Merriweather", serif;
}

/*CALL TO ACTION*/
.cta-home {
  background-color: #F28D40;
  font-family: "Merriweather", serif;
}
.cta-home h1 {
  font-size: 40px;
}
.cta-home button:hover {
  transform: scale(1.2);
}
.cta-home .btn-cta-home {
  background-color: #353434;
  color: #B8CBCC;
  cursor: pointer;
}
.cta-home .btn-cta-home a {
  text-decoration: none;
  color: #B8CBCC;
  font-size: 22px;
}

.cta-home-2 {
  background-color: white;
  font-family: "Kanit", sans-serif;
  color: #778080;
}
.cta-home-2 .presentacion {
  text-align: justify;
  font-weight: 500;
}
.cta-home-2 .presentacion span {
  font-weight: 800;
  font-style: italic;
  color: #353434;
}

.botonera-home {
  background-color: #353434;
  padding: 20px;
  padding-bottom: 15px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width: none;
  overflow: hidden;
}
.botonera-home .ul-botonera-home {
  list-style: none;
  padding-left: 0;
}
.botonera-home .ul-botonera-home a:hover {
  transform: scale(1.2);
}

.ul-botonera-home a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.ul-botonera-home img {
  width: 65px;
}

.mapa-home {
  background-color: #F28D40;
  text-align: center;
  width: 100%;
  padding: 20px 0 0px 0px;
  max-width: 100%;
}
.mapa-home h4 {
  font-weight: bold;
}
.mapa-home iframe {
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top .contacto-footer-top li {
  list-style: none;
  text-align: justify;
  font-size: 14px;
  font-family: "Merriweather", serif;
}
.footer-top .fa-instagram {
  font-size: 30px;
  color: #e4405f;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  line-height: 1.7;
}
.footer-top .fa-instagram:hover {
  background-color: #e4405f;
  color: white;
}
.footer-top .footer-top-p {
  font-size: 14px;
  font-family: "Merriweather", serif;
}

footer {
  background-color: white;
  color: #353434;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
footer .redes a {
  color: #353434;
  text-decoration: none;
  font-size: 20px;
  align-items: baseline;
}
footer .redes i:hover {
  transform: scale(1.15);
}
footer .invisible {
  visibility: hidden;
}

/*BOTON WHATSAPP*/
.whatsapp {
  height: 50px;
  width: 50px;
  background-color: rgba(76, 200, 90, 0.6);
  color: black;
  text-decoration: none;
  position: fixed;
  right: 15px;
  bottom: 25px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.whatsapp:hover {
  background-color: #128c7e;
}

.servicios {
  background-color: #f9f9f9;
  padding: 50px 0;
}
.servicios .info-servicios {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
}
.servicios .titulo-seccion {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  color: #353434;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.servicios .subtitulo-seccion {
  font-size: 1.25rem;
  font-family: "Kanit", sans-serif;
  color: #778080;
}
.servicios .card-servicios {
  background-color: #F28D40;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #353434;
  font-family: "Kanit", sans-serif;
}
.servicios .card-servicios h3 {
  font-size: 30px;
  color: #353434;
  margin-bottom: 15px;
}
.servicios .card-servicios p {
  font-size: 18px;
  color: #B8CBCC;
  font-weight: 600;
}

.formulario {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario form {
  background-color: #F28D40;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formulario form .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.formulario form .input-group label {
  color: #353434;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.formulario form .input-group input, .formulario form .input-group textarea {
  padding: 17 25px !important;
  border-radius: 8px !important;
  margin-bottom: 15px;
  border: 2px solid #F0FAF1;
  outline: none;
  color: #353434;
}
.formulario form .input-group input::-moz-placeholder, .formulario form .input-group textarea::-moz-placeholder {
  color: #778080;
}
.formulario form .input-group input::placeholder, .formulario form .input-group textarea::placeholder {
  color: #778080;
}
.formulario form .input-group .btn-form {
  font-size: 20px;
  color: #B8CBCC;
  border: 0;
  border-radius: 25px !important;
  background-color: #353434;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.formulario form h2 {
  font-weight: bold;
  font-size: 35px;
  color: #353434;
}

@media (max-width: 768px) {
  .formulario {
    padding: 30px;
  }
  .formulario form {
    padding: 50px 30px;
    width: 100%;
  }
  .formulario form input {
    padding: 15px;
  }
}/*# sourceMappingURL=styles.css.map */